// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@use "element-plus/theme-chalk/src/message.scss"; // message

:root {
  --ep-color-primary: #1890ff; // el-primary
  --bg-color-mute: #f2f2f2;
  --header-border-color: var(--ep-border-color); //  transparent;
  --header-shadow: 0 1px 4px #00152914;
  --hover-btn-bg: rgba(0,0,0,0.06);
  --shadow-contextmenu: 2px 2px 3px 0 rgba(0, 0, 0, .3);
  --color-contextmenu: black;
  --tagview-bg: #ffffff;
  --tagview-color: #495060;
  --tagview-border-color: #d8dce5;
}
.dark {
  --bg-color-mute: #2c2c2c;
  --header-border-color: var(--ep-border-color);
  --header-shadow: none;
  --hover-btn-bg: #2c2c2c;
  --shadow-contextmenu: none;
  --color-contextmenu: #cfd3dc;
  --tagview-bg: #181818;
  --tagview-color: #cfd3dc;
  --tagview-border-color: #4C4D4F;
}
// hover btn
.common_hover_btn:hover {
  background: var(--hover-btn-bg);
}
//  路由动画
.fade-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  transition: all 500ms ease-out;
  transform: translateX(0);
}

.fade-exit {
  opacity: 0;
  transform: translateX(30px);
}

// 滚动条
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #9093994d;
  box-shadow: inset 0 0 6px #0003;
}
::-webkit-scrollbar-track {
  background-color: #0000000d;
}

[data-theme=dark] ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(144,147,153,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.2);
}
[data-theme=dark] ::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.05);
}